<header>
    
    <div>
        <h1><a href="/">Tienda de Motos</a></h1>
        <nav>
            <ul>
                <li><a href="/">Inicio</a></li>
                <li><a href="/motos">Motos</a></li>
            </ul>
        </nav>
    </div>

</header>